ul,li{
    color:black;
    list-style-type:none;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
body{
    width: 100%;
    position: fixed;
}
.main{
    height: 71vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
header{
    background-color: #00B214;
    text-align: center;
    height: 45px;
}
header ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.hotline{
    float: left;
    padding-top: 15px;
}
.add-top{
    float: right;
    padding-top: 10px;
}
.dndk{
    border-right: 1px solid hsla(0, 0%, 100%, .4);
    height: .8125rem;
}
header ul li a{
    color: white;
}
header ul li:nth-child(4) button{
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.3s ease;
}
header ul li:nth-child(4) button i{
    margin-right: 6px;
}
header ul li:nth-child(4) button:hover{
    background-color: #a7a5a5;
}
/*---------------------------taotaikhoan--------------------------*/
.taotaikhoan{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}
.taotaikhoan-content{
    width: 400px;
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
}
.taotaikhoan-content form{
    padding: 12px 40px;
}
.taotaikhoan-content h2{
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.taotaikhoan-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
.taotaikhoan-content form input{
    height: 45px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.taotaikhoan-content form button{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #2FA863;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
}
/*------------------------------dangnhap------------------------------------------*/
.dangnhap{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}
.dangnhap-content{
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
}
.dangnhap-content form{
    padding: 12px 40px;
}
.dangnhap-content h2{
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.dangnhap-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
.dangnhap-content form input{
    height: 45px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.dangnhap-content form button{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #2FA863;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
}
/* ------------------------nav------------------------ */
nav{
    background-color: #ffffff;
    height:120px;
}
.logo{
    float: left;
}
.search{
    float: right;
    margin-top: 40px;
}
nav ul li a{
    color: black;
    font-size: 12px;
}
nav ul li:nth-child(2){
    position: relative;;
}
nav ul li:nth-child(2) input{
    height: 40px;
    width: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
    border: 1px solid #00B214;
    float: left;
}
nav ul li:nth-child(2) button{
    background-color: #028711;
    height: 40px;
    width: 70px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #00B214;
}
nav ul li:nth-child(2) button i{
    color: #ffffff;
}
.search:hover .search-list{
    display: block;
}
.search-list{
    z-index: 99;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 400px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 3px #00B214;
    display: none;
    overflow: hidden;
}
.search-list-item{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.list-item{
    height: 38px;
    padding: 0 12px;
    text-decoration: none;
    font-size: 15px;
    line-height: 38px;
}
.list-item:hover{
    background-color: #fafafa;
}
/* ------------------menu-bar--------------------------------- */
.menu-bar{
    background-color: #3DAA12;
}
.menu-bar ul{
    display: flex;
}
.menu-bar-content ul a li{
    float: left;
    margin: 15px;
    transition: all 0.3s ease;
    width: auto;
}
.menu-bar ul a li{
    color: black;
    font-size: 16px;
}
.menu-bar ul a li i{
    margin-right: 6px;
    font-size: 16px;
}
.menu-bar ul a:hover{
    background-color: white;
}
/* ------------------------slider------------------ */
.slider{
    padding:20px 0;
    height:350px;
}
.slider-content{
    display : flex;
    justify-content:space-between;
}
.slider-content-left{
    width:65%;
}
.slider-content-left-top{
    width:100%;
    height:300px;
    position:relative;
}
/*.slider-content-left-top:hover i{
    opacity:1;
}*/
.slider-content-left-top img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.slider-content-left-bottom{
    display:flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top:none;
    height:50px;
}
.slider-content-left-bottom li{
    width:20%;
    text-align:center;
    cursor:pointer;
    padding:6px 0;
    line-height:38px;
    position:relative;
}
.slider-content-left-bottom li::before{
    display:block;
    content: "";
    position: absolute;
    height: 70%;
    width:1px;
    background-color: #ddd;
    right:0;
}
.slider-content-left-bottom li.active{
    border-top:4px solid #FFF200;
}
.slider-content-right{
    width:35%;
    display:flex;
    flex-wrap:wrap;
    padding:0 30px;
    justify-content:space-around;
}
.slider-content-right li{
    width:50%;
    height:50%;
    text-align:center;
    margin-bottom:3px;
}
.slider-content-right li img{
    height:170px;
    width:170px;
}
.slider-content-left-top-btn{
    position:absolute;
    top:50%;
    display: flex;
    justify-content: space-between;
    width:100%;
}
.slider-content-left-top-btn i {
    color: #333;
    font-size:32px;
    height:50px;
    width:25px;
    background-color:rgb(253,242,242);
    display:flex;
    justify-content:center;
    align-items:center;
    transform:translateY(-50%);
    border-radius:5px ;
    opacity:0;
    transition:all 0.3s ease;
    cursor:pointer;
}
.submenu{
    z-index: 10; 
}
/* ---------------Slider js 1------------------ */
.slider-content-left-top img{
    position:absolute;
}
.slider-content-left-top a:nth-child(2) img{
    transform:translateX(100%);
}
.slider-content-left-top a:nth-child(3) img{
    transform:translateX(200%);
}
.slider-content-left-top a:nth-child(4) img{
    transform:translateX(300%);
}
.slider-content-left-top a:nth-child(5) img{
    transform:translateX(400%);
}
.slider-content-left-top-container{
    position:relative;
    overflow:hidden;
    border-bottom:2px solid #ddd;
}
.slider-content-left-top-container:hover i{
    opacity:1;
}
.slider-content-left-top{
    transition: all 0.3s ease;
}
/*----------------------slider 1---*/
.slider-content-left-bottom li.active{
    border-top:4px solid #FFF200;
    font-weight:bold;

}
.slider-content-left-bottom li{
    border-top:4px solid #FFF;
    border-bottom:2px solid #FFF;
}
/*-----------banner 1-------------------*/
.baner-one {
    margin-top: 30px;
}
/*-----------------------fix lỗi 01---------------------*/
.slider-content-left {
    width: 70%;
}
.slider-content-right{
    width: 30%;
    padding: 0;
}
.baner-one {
    margin-top: 40px;
    margin-bottom: 20px;
}
.slider-product-one-content {
    padding: 0;
}
.slider-product-one-content-title {
    padding: 0 12px;
}
.slider-product-one-content-items-content {
    height: 540px;
}
/*----------------product-gallery---------------*/
#section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.product-gallery-one{
    padding: 30px 0;
    position: relative;
    min-height: auto;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
}
.section-bg{
    opacity: 1;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    overflow: hidden;
}
.section-content{
    position: relative !important;
    z-index: 1;
    width: 100%;
}
.row{
    max-width: 1170px;
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}
.section .col{
    padding-bottom: 0;
}
.col{
    max-width: 100%;
    flex-basis: 100%;
    position: relative;
    margin: 0;
    padding: 0 15px 30px;
    width: 100%;
}
.col:first-child .product-gallery-one-content{
    margin-left: auto;
    margin-right: 0;
}
.product-gallery-one-content {
    position: relative;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
}
.product-gallery-one-content-product{
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    max-width: 1162.5px;
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}
.product-gallery-one-content-product-item {
    border: 1px solid #ececec;
    border-radius: 5px;
    background: white;
    margin-bottom: 20px;
    transition: opacity .3s,transform .3s,background-color .3s,-webkit-transform .3s;
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.thub{
    position: relative;
    height: 230px;
    margin: 0 auto;
    overflow: hidden;
    transition: opacity .3s,transform .3s,background-color .3s,-webkit-transform .3s;
    padding-top: 5%;
    background-position: 50% 50%;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.product-gallery-one-content-product-item:hover {
    box-shadow: 3px 3px 5px #ecebeb;
}
.product-gallery-one-content-product-item:hover > img {
    transform: translateY(-10px);

}
.product-gallery-one-content-product-item > img {
    width: 100%;
    transition: all 0.3s ease;
}
.product-gallery-one-content-product-item-text {
    padding-top: 20px;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    font-size: .9em;
    transition: opacity .3s,transform .3s,background-color .3s,-webkit-transform .3s;
}
.product-gallery-one-content-product-item-text li {
    margin-bottom: 6px;
    color: #F00;
    font-size: 20px;
}
.product-gallery-one-content-product-item-text li:first-child {
    height: 30px;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    line-height: 20px;
    border-radius: 40px;
    color: #1e7100;
    font-family: "barlow", sans-serif;
    font-weight: bold;
    font-size: 17px;
}
.product-gallery-one-content-product-item-text li:first-child p {
    color: #fff;
    font-size: 12px;
}
.product-gallery-one-content-product-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
}
.product-gallery-one-content-product-item-text li:nth-child(2):hover {

    color: #FB6E2E;
}
.product-gallery-one-content-product-item-text li:nth-child(4) a {
    text-decoration: line-through;
    color: #333;
}
.product-gallery-one-content-product-item-text li:nth-child(5) {
    font-weight: bold;
}
.product-gallery-one-content-product-item-text li:last-child i {

    color: #FB6E2E;
}
.product-gallery-one {
    margin-top: 30px;
}
.product-gallery-one-content-title {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    max-width: 1170px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.product-gallery-one-content-title h2 {
    color: rgb(0, 178, 20);
    border-bottom: 2px solid rgb(0, 178, 20);
}
.product-gallery-one-content-title li {
    color: #333;
    font-size: 12px;
    transition: all 0.3s ease;
}
.product-gallery-one-content-title li {
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 40px;
}
.col-1{
    padding-bottom: 0;
    position: relative;
    margin: 0;
    width: 85%;
}
.product-gallery-one-content-product>.col-1{
    padding: 0 1px 19.6px;
    margin-bottom: 0;
    max-width: 100%;
    flex-basis: 25%;
}
.col-1:first-child .col-inner{
    margin-left: auto;
    margin-right: 0;
}
.col-inner{
    position: relative;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    box-sizing: border-box;
    border: 1px solid rgb(236, 234, 234);
}
/*-------------produc-gallery-two---*/
.product-gallery-two{
    margin-top: 30px;
    margin-bottom: 20px;
}

.product-gallery-two-content{
    display: flex;
    padding-right: 12px;
    background-color: #203E4E;
}

.product-gallery-two-content-right img{
    width: 100%;
    align-items: center;
    margin-top: 5px;
    
    
}
.product-gallery-two-content-left{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    
}

.product-gallery-two-content-left-bottom {
    background-color:#fff;
    display: flex;
    border-radius: 10px;
    position: relative;
    height: 400px;
    overflow: scroll;
}
.product-gallery-two-content-left-bottom-item {
    width: 40%;
    padding: 100px 60px;
    border-right: 1px solid #ddd ;
    cursor: pointer;
    
}
.product-gallery-two-content-left-bottom-item:hover > img{
    transform: translateY(-15px);
}
.product-gallery-two-content-left-bottom-item > img {
    width:130%;
    transition: all 0.5s ease;
    height:95px;
}
.product-gallery-two-content-left-bottom-item-text{
    margin-bottom: 6px;
    text-align:justify;
}
.product-gallery-two-content-left-bottom-item-text li:first-child {
    height: 30px;
    width: 120%;
    background-color: lightcoral;
    display: inline-block;
    font-size: 10px;
    border-radius: 40px;
    align-items: center;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.product-gallery-two-content-left-bottom-item-text li:nth-child(4){
    font-weight: bold;
}
.product-gallery-two-content-left-bottom-item-text li:nth-child(3){
    font-size: 14px;
}
.product-gallery-two-content-left-bottom-item-text li:nth-child(6){
   color: #f97e0e;
}
.product-gallery-two-content-left-bottom-btn{
    position: absolute;
    top:50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product-gallery-two-content-left-bottom-btn i{
    color: #333;
    font-size:32px;
    height:50px;
    width:25px;
    background-color:rgb(232, 206, 206);
    display:flex;
    justify-content:center;
    align-items:center;
    transform:translateY(10%);
    border-radius: 5px ;
    transition: all 0.3s ease;
    cursor: pointer;
}
.product-gallery-two-content-left-bottom-item-text
{color:black;}
/*-------footer----->*/
.mentor{
    background-image:url("/caynoithat.png");
}
.cuocsongxanh{
    
    padding-left:100px;
    box-sizing:border-box;
}
h3.cuocsongxanh{
    text-indent:20px ;
}
.grid_column-2-4{
    padding-left:-100px;   
    width:20%;
}
.grid{
    padding-left:32px;
    width:1500px;
    max-width:100%;
    margin:0 auto;
}
.grid_row{
    display:flex;
    flex-wrap:wrap;
}
.footer{
    background-color: rgb(131, 243, 183);
    padding-top:35px;
    border-top:4px solid var(--primary-color);
}
.footer_heading{
    font-family:auto;
    font-size:0.94rem;
    text-transform:uppercase;
    color: var(--text-color);
}
.footer-list{
    padding-left:0;
    list-style:none;
}
.footer-item_link{
    font-family:sans-serif;
    text-decoration:none;
    font-size:0.74rem;
    color:#737373;
    padding:2px 0;
    display:block;
}
.footer-item_link:hover{
    color:var(--primary-color);
}
.footer-item_icon{
    font-size:1.6rem;
    margin-top: -1px 8px 0 0;
}
.footer_download{
    display:flex;
}
.footer-download_qr{
    width:80px;
    height:80px;
    border: 1px solid var(--border-color);
}
.footer_download-apps{
    flex:1;
    margin-left:16px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.footer-download-app-img{
    height:16px;
}
.footer_download-app-link{
    color:transparent;
    text-decoration:none;
}
.footer_bottom{
    padding:8px 0;
    background-color: rgb(39, 182, 106);
    margin-top:36px;
}
.footer_text{
    margin:0;
    text-align:center;
    font-size:1.2rem;
    color:#efe4e4;
}
.border1{
    padding-bottom:40px;
    border-bottom: 7px solid rgb(95, 228, 157);
}
.abc li{
    list-style-type:disc;
}
