*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
body{
    width: 100%;
    position: fixed;
}
.main{
    height: 71vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
header{
    background-color: #00B214;
    text-align: center;
    height: 45px;
}
header ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.hotline{
    float: left;
    padding-top: 15px;
}
.add-top{
    float: right;
    padding-top: 10px;
}
.dndk{
    border-right: 1px solid hsla(0, 0%, 100%, .4);
    height: .8125rem;
}
header ul li a{
    color: white;
}
header ul li:nth-child(4) button{
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.3s ease;
}
header ul li:nth-child(4) button i{
    margin-right: 6px;
}
header ul li:nth-child(4) button:hover{
    background-color: #a7a5a5;
}
/*---------------------------taotaikhoan--------------------------*/
.taotaikhoan{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}
.taotaikhoan-content{
    width: 400px;
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
}
.taotaikhoan-content form{
    padding: 12px 40px;
}
.taotaikhoan-content h2{
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.taotaikhoan-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
.taotaikhoan-content form input{
    height: 45px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.taotaikhoan-content form button{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #2FA863;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
}
/*------------------------------dangnhap------------------------------------------*/
.dangnhap{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}
.dangnhap-content{
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
}
.dangnhap-content form{
    padding: 12px 40px;
}
.dangnhap-content h2{
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.dangnhap-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
.dangnhap-content form input{
    height: 45px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.dangnhap-content form button{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #2FA863;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
}
/* ------------------------nav------------------------ */
nav{
    background-color: #ffffff;
    height:120px;
}
.logo{
    float: left;
}
.search{
    float: right;
    margin-top: 40px;
}
nav ul li a{
    color: black;
    font-size: 12px;
}
nav ul li:nth-child(2){
    position: relative;;
}
nav ul li:nth-child(2) input{
    height: 40px;
    width: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
    border: 1px solid #00B214;
    float: left;
}
nav ul li:nth-child(2) button{
    background-color: #028711;
    height: 40px;
    width: 70px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #00B214;
}
nav ul li:nth-child(2) button i{
    color: #ffffff;
}
.search:hover .search-list{
    display: block;
}
.search-list{
    z-index: 99;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 400px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 3px #00B214;
    display: none;
    overflow: hidden;
}
.search-list-item{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.list-item{
    height: 38px;
    padding: 0 12px;
}
.list-item:hover{
    background-color: #fafafa;
}
.list-item a{
    text-decoration: none;
    font-size: 15px;
    line-height: 38px;
}
/* ------------------menu-bar--------------------------------- */
.menu-bar{
    background-color: #3DAA12;
}
.menu-bar ul{
    display: flex;
}
.menu-bar-content  ul  li{
    float: left;
    margin-right: 20px;
    padding: 15px 6px;
    transition: all 0.3s ease;
    width: auto;
}
.menu-bar ul li a{
    color: black;
    font-size: 16px;
}
.menu-bar ul li a i{
    margin-right: 6px;
    font-size: 16px;
}
.menu-bar ul li:hover{
    background-color: white;
}
/*-----------------------------chinh-------------------*/
body {
    color: #282828;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    line-height: 1.6;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    display: block;
}
.product-main{
    padding: 20px 0;
    margin-left: -15px;
    width: auto;
    display: flex;
    flex-flow: wrap;
}
.product-main-img{
    max-width: 50%;
    flex-basis: 50%;
    margin-bottom: -15px;
}
.tong{
    height: 300px;
    display: inline-block;
    width: 90%;
    margin-left: 20px;
}
.product-main-info{
    width: 100%;
    text-align: left;
    margin-left: 20px;
    padding-left: 0 !important;
    padding: 15px;
    -webkit-box-flex: 1;
    flex: 1;
    position: relative;
}
.product-main-info-item{
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    margin: 0 0 0.5em;
    color: #222;
    letter-spacing: 0;
    padding: 0;
    line-height: 1.2;
    height: 15px;
}
.product-gallery-one-content-product>.product-gallery-one-content-product-item{
    padding: 2px 1px 19.6px;
}
.product-main-info-item a:first-of-type{
    margin-left: 0;
}
.product-main-info-item a{
    color: rgba(102,102,102,.7);
    font-weight: normal;
}
a{
    text-decoration: none;
    touch-action: manipulation;
    background-color: transparent;
}
.product-main-info-short{
    height: 130px;
}
.divider{
    position: relative;
    top: 0;
    opacity: .35;
    margin: 0 0.3em;
    font-weight: 300;
}
.product-title{
    font-size: 22px;
}
h1 h2{
    color: #0a0a0a;
    font-weight: 700;
    font-family: "Barlow", sans-serif;
    line-height: 1.3;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-rendering: optimizeSpeed;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.price-wrapper .price-wrapper-amount{
    display: block;
    font-size: 1.5em;
    margin: 0.5em 0;
    font-weight: bolder;
}
.price-wrapper-amount{
    line-height: 1;
}
.amount{
    font-size: 22px;
    font-weight: 500;
    color: #e05757;
    white-space: nowrap;
}
.product-main-info-buy{
    background: linear-gradient(to bottom,#009911 0%,#009911 100%);
    max-width: 100%;
    margin: 0 0 10px;
    display: inline-block;
    overflow: hidden;
    clear: both;
    padding: 9px 0;
    border-radius: 4px;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    color: #fff!important;
    text-align: center;
    text-decoration: none;
    border-bottom: 0!important;
    width: 100%;
}
.product-main-info-buy span{
    font-size: 13px;
    display: block;
    color: #fff;
    text-transform: none;
    margin: 2px 0 0;
}
strong{
    font-weight: 500;
}
.product-gallery-one-content-product {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    justify-content: space-between;
}
.product-gallery-one-content-product-item {
    width: 90%;
    padding: 10px 12px 12px;
    border: 1px solid #eceaea;
    cursor: pointer;
    margin: 5px;
    height: 340px;
}
.thub{
    width: 2px;
    height: 230px;
}
.product-gallery-one-content-product-item:hover {
    box-shadow: 3px 3px 5px #ecebeb;
}
.product-gallery-one-content-product-item:hover > img {
    transform: translateY(-10px);

}
.product-gallery-one-content-product-item > img {
    width: 100%;
    transition: all 0.3s ease;
}
.product-gallery-one-content-product-item-text {
    padding-top: 10px;
    text-align: center;
}
.product-gallery-one-content-product-item-text p {
    margin-bottom: 6px;
    color: #F00;
    font-size: 20px;
    margin-top: -5px;
}
.product-gallery-one-content-product-item-text li:first-child {
    height: 30px;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    line-height: 20px;
    border-radius: 40px;
    color: #1e7100;
    font-family: "barlow", sans-serif;
    font-weight: bold;
    font-size: 17px;
}
.product-gallery-one-content-product-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
}
.product-gallery-one-content-product-item-text li:nth-child(2):hover {

    color: #FB6E2E;
}
.product-gallery-one-content-product-item-text li:nth-child(4) a {
    text-decoration: line-through;
    color: #333;
}
.product-gallery-one-content-product-item-text li:nth-child(5) {
    font-weight: bold;
}
.product-gallery-one-content-product-item-text li:last-child i {

    color: #FB6E2E;
}
.product-gallery-one {
    margin-top: 30px;
}
.product-gallery-one-content-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product-gallery-one-content-title h2 {
    color: rgb(0, 178, 20);
    border-bottom: 2px solid rgb(0, 178, 20);
}
.product-gallery-one-content-title li {
    color: #333;
    font-size: 12px;
    transition: all 0.3s ease;
}
.product-gallery-one-content-title li {
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 40px;
}
p{
    margin-top: -5px;
}
.product-section{
    border-top: 1px solid#ececec;
}
.product-section-title{
    margin-bottom: 0;
    margin-left: 0;
    text-transform: none;
    letter-spacing: 0;
    font-size: 25px;
    padding-top: 1px;
    padding-bottom: 5px;
    line-height: 1.2;
    max-width: 1080px;
    width: 100%;
    margin-right: auto;
    border-bottom: 2px solid rgb(0, 178, 20);
    color: rgb(0, 178, 20);
}
.content-row{
    max-width: 1200px;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
}
#product-sidebar{
    background: white;
    padding: 15px;
    word-wrap: break-word;
}
.content-row > .col{
    margin-bottom: 0;
}
.large-3{
    max-width: 25%;
    flex-basis: 200%;
    position: relative;
    margin: 0px;
    width: 100%;
}
.widget-text{
    margin-bottom: 1.5em;
}
.widget-text-title{
    letter-spacing: 0;
    font-weight: 500;
    text-transform: none;
    font-size: 20px;
    color: black;
    display: block;
    border-bottom: 2px solid #f8f8f8;
    padding-bottom: 10px;
}
.widget-text .is-divider{
    margin-top: 0.66em;
}
.is-divider{
    display: none;
    height: 3px;
    background-color: rgba(0,0,0,.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}
.textwidget{
    border: 1px solid #f8f8f8;
    padding: 10px;
    background: #fcfcfc;
}
.widget-text ul{
    margin: 0;
}
ul{
    padding: 0;
    list-style: disc;
}
.textwidget ul li{
    list-style: square;
    margin-left: 20px;
    color: #252525;
    font-size: 14px;
}
.textwidget li{
    margin-bottom: 0.6em;
    display: list-item;
    text-align: -webkit-match-parent;
}
.textwidget ul li strong{
    font-weight: bold;
}
#main{
    background-color: #fff;
    position: relative;
    display: block;
}
